* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: 'Inter', sans-serif;
}


@media (min-width: 900px) {
  body {

  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 45%;
  }
  
}